language: node_js

node_js:
- '8'

sudo: required

services:
- docker

before_install:
- date
- docker login --username=${DOCKER_USER} --password=${DOCKER_PASS}

script:
- make build-all
- docker inspect ${DOCKER_USER}/faas-node-template:latest | grep -i arch
- docker inspect ${DOCKER_USER}/faas-node-template:latest-armhf | grep -i arch

deploy:
  provider: script
  script: make publish
  skip_cleanup: true
  on:
    tags: true
  repo: riggerthegeek/faas-templates
